/* 
    Document   : test
    Created on : Jun 2, 2012, 10:15:43 PM
    Author     : fhjbalfoort
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.frame{
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

.scroller {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.scrollbar{
	width:10px;
	height: 100%;
	position: absolute;
	right: 0px;
	background : rgba(0,0,0,.05);
	
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

	.scroller:hover .scrollbar {
		opacity: 1;
	}

.scrollgrab{
	width: 6px;
	height: 0px;
	min-height: 20px;
	margin: 0 auto;
	background-color: black;
	position: relative;
	top: 0px;
	border-radius: 15px;
	opacity: 1;
	background: rgba(0,0,0,.5);
}


.content {
	top: 0;
	left: 0;
	bottom: 0;
	right: -15px;
	position: absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

